.box-text{
    padding: 5px; 
    border-radius: 10px;
    margin: 4px; 
     
    font-family: 'Readex Pro', sans-serif;
}
.box-text svg{
    margin: 2px;
}
li svg{
    margin-right: 10px;
}
li{
    font-size: 18px;
    padding: 15px; 
    line-height: 10px;
}
